<div class="form-page-container">
  <mat-card class="step-page-container">
    <mat-card-content class="form-step">
      <ng-container [ngSwitch]="currentStep">
        <ng-container *ngSwitchCase="0">
          <wizard-step-one [wizardStepOneModel]="wizardStepOneModel"
                           [validate]="eventsSubject.asObservable()"></wizard-step-one>
        </ng-container>
        <ng-container *ngSwitchCase="1">
          <wizard-step-two [wizardStepTwoModel]="wizardStepTwoModel"
                           [validate]="eventsSubject.asObservable()"></wizard-step-two>
        </ng-container>
        <ng-container *ngSwitchCase="2">
          <wizard-registration-success></wizard-registration-success>
        </ng-container>
      </ng-container>
    </mat-card-content>
  </mat-card>
  <button *ngIf="!isCompleted()" mat-raised-button color="primary" (click)="onNextStep()">
    {{ showButtonLabel() }}
  </button>

  <div *ngIf="registrationError" class="registration-error">{{ registrationError }}</div>
  <div></div>
</div>
